{% extends "base.html" %}
{% block page_title %}An error occurred{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle">
        <h1>An error occurred</h1>
        <p>An unexpected error occurred. The error has been logged and
        administrators will look into it shortly.</p>
        {% if traceback %}
        <p>Debug informaion:</p>
        <pre>{{ traceback }}</pre>
        {% endif %}
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
