{% extends "base.html" %}
{% block page_title %}About{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle">
        <a href="http://www.flickr.com/photos/mr-blixt/3357430349/"><img src="{{ "images/tutorial_images/sprout.jpg"|static }}" alt="Sprout" class="right-align"/></a>
        <h1>About SimpleEditions</h1>
        <p>SimpleEditions is a tutorial website that aim to make it easy and intuitive
        to learn or discover new things.</p>

        <p>We strive to make the difficult understandable and to create
        high quality tutorials for anyone to enjoy. We'll keep updating our articles
        until we get just the right quality and enough information.</p>

        <h2 id="get-involved">Get involved</h2>
        <p>We've just begun the work, but if you are interested in helping out,
        SimpleEditions are more than happy to handle dedicated individuals with
        writing skills who can explaining difficult things in an easy way, or know
        their particular area or topic very well. You can reach us at contribute <em>at</em>
        simpleeditions.com.</p>

        <h2 id="contact">Contact</h2>
        <p>Anything else? Let us know! Email: contact <em>at</em> simpleeditions.com.</p>

        <h2 id="copyleft">Licenses (Copyleft & Open Source)</h2>
        <p>The articles at SimpleEditions are licensed under a
        <a href="http://creativecommons.org/licenses/by-nc/2.5/se/deed.en_US">Creative Commons</a> 
        license, meaning that you can copy it, make your own modifications to it and
        use it for whatever non-commercial purposes you want, as long as you mention
        that SimpleEditions is the original source of the material.</p>

        <p>SimpleEditions  is completely open source and <a href="http://github.com/littke/simpleeditions">the source code is available at 
        GitHub</a>. You are more than welcome to contribute.</p>
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
