{% extends "base.html" %}
{% block page_title %}About{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle">
        <a href="http://www.flickr.com/photos/mr-blixt/3357430349/"><img src="{{ "images/tutorial_images/sprout.jpg"|static }}" alt="Sprout" class="right-align"/></a>
        <h1>About SimpleEditions</h1>
        <p>At SimpleEditions, we're all about gathering experience and expertise and converting it into high quality, easy to understand tutorials. </p>

        <p>We allow you and other people to update or write any tutorial on a subject you know well, and together we keep updating it until we reach 
        just the right quality. It's like Wikipedia, but about tutorials. And we hope to be better, too! :)</p>

        <p>We're an open source project that started in the summer of 2010 and we want you to <a href="/sign-up">join us</a>!</p>

        <h2 id="get-involved">Get involved</h2>
        <p>It's easy to get started. Just <a href="/sign-up">register an account</a> and you'll be able to 
        provide feedback to existing articles or start writing a new one right away. New articles automatically go into
        a draft mode where you and other registered members can improve it until it's ready for publishing.</p>

        <p>And, if you're a programmer or designer you are more than welcome to <a href="http://github.com/littke/simpleeditions" target="_blank">help us improve the platform</a>, too.</p>

        <h2 id="contact">Contact</h2>
        <p>Anything else? Let us know! Email: contact <em>at</em> simpleeditions.com.</p>

        <h2 id="licenses">Licenses (Copyleft & Open Source)</h2>
        <p>The articles at SimpleEditions are licensed under a
        <a href="http://creativecommons.org/licenses/by-nc/2.5/se/deed.en_US">Creative Commons</a> 
        license, meaning that you can copy it, make your own modifications to it and
        use it for whatever non-commercial purposes you want, as long as you mention
        that SimpleEditions is the original source of the material.</p>

        <p>SimpleEditions  is completely open source and <a href="http://github.com/littke/simpleeditions">the source code is available at 
        GitHub</a>. You are more than welcome to contribute.</p>
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
