{% extends "article_manage.html" %}
{% block page_title %}{{ article.title }} – Revisions{% endblock %}
{% block page_head %}
    <style type="text/css">
    table#articles td {
        vertical-align: top;
    }
    table#articles {
        width: 100%;
    }
    </style>
{% endblock %}
{% block section_id %}manage_revisions{% endblock %}
{% block section_content %}
        <table id="articles">
            <thead>
                <tr>
                    <th>#</th>
                    <th width="100">Author</th>
                    <th width="160">Updated</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
            {% for revision in revisions %}
                <tr class="{% cycle odd,even %}">
                    <td><a href="{{ revision.number }}">{{ revision.number }}</a></td>
                    <td>{{ revision.user_name }}</td>
                    <td>{{ revision.created|timesince }} ago</td>
                    <td>{{ revision.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
