{% extends "base.html" %}
{% block page_title %}{{ revision.title }} (r{{ revision.number }}){% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle">
        <div class="tutorial_header">
            {% if revision.icon %}
            <img alt="" src="/content/{{ revision.icon }}" />
            {% else %}
            <img alt="" src="{{ "images/badges/badge_default.png"|static }}" />
            {% endif %}
            <h1>{{ revision.title }}</h1>
            <p class="article_extra">
            Revision #{{ revision.number }} ({% if revision.previous %}<a href="{{ revision.previous }}">&larr;</a>{% else %}&larr;{% endif %} {% if revision.next %}<a href="{{ revision.next }}">&rarr;</a>{% else %}&rarr;{% endif %} / <a href=".">list</a>), made {{ revision.created|timesince }} ago by {{ revision.user_name }}.
            </p>
        </div>
        <div class="tutorial_content">
            {{ revision.html|safe }}
        </div>
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
