{% extends "base.html" %}
{% block page_head %}
    {% if article.icon %}
    <meta property="og:image" content="http://{{ DOMAIN }}/content/{{ article.icon }}.png" />
    {% endif %}
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{ DOMAIN }}/{{ article.id }}/{{ article.slug }}" />
    <link rel="canonical" href="http://{{ DOMAIN }}/{{ article.id }}/{{ article.slug }}" />
{% endblock %}
{% block page_title %}{{ article.title }}{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle">
        <div id="tutorial_header">
            {% if article.icon %}
            <img alt="" src="/content/{{ article.icon }}.png" />
            {% else %}
            <img alt="" src="{{ "images/badges/badge_default.png"|static }}" />
            {% endif %}
            <h1>{{ article.title }}</h1>
            <p class="article_extra">
                By {{ article.user_name }}.
                {% if article.edits %}
                <span title="Updated {{ article.last_modified }}. Originally created {{ article.created|timesince }} ago.">Last updated {{ article.last_modified|timesince }} ago.</span>
                {% endif %}
                {% if user_can_edit %}
                {{ article.views }} view{{ article.views|pluralize }}.
                <a href="/{{ article.id }}/manage/edit">Edit article</a>
                {% endif %}
            </p>
            <p><fb:like layout="button_count"></fb:like></p>
        </div>
        <div id="tutorial_content">
          {{ article.html }}
        </div>
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
{% block page_foot %}
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ FACEBOOK_APP_ID }}', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
{% endblock %}
