{% extends "base.html" %}
{% block page_title %}Write a new article{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle">
        <h1>Write a new article</h1>
        {% if errors %}
        <div class="error">
            <p>Failed to save the article:</p>
            <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <form action="{{ request.path }}" enctype="multipart/form-data" method="post">
            <p>Article title</p>
            <p><input name="title" size="42" maxlength="50" type="text" value="{{ request.POST.title }}" /></p>
            <p>Icon (optional)</p>
            <p><input name="icon" type="file" /></p>
            <p>Article description</p>
            <p><textarea cols="100" name="description" rows="5">{{ request.POST.description }}</textarea></p>
            <p>Article content (<a href="http://daringfireball.net/projects/markdown/syntax">Markdown formatted</a>)</p>
            <p><textarea cols="100" name="content" rows="40">{{ request.POST.content }}</textarea></p>
            <p><input type="submit" value="Save article" /></p>
        </form>
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
