{% extends "base.html" %}
{% block page_head %}
<link rel="canonical" href="http://{{ DOMAIN }}/{{ article.id }}/{{ article.slug }}">
{% endblock %}
{% block page_title %}{{ article.title }}{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle">
        <div id="tutorial_header">
            <img alt="" src="{{ "images/badges/badge_spotify.png"|static }}" />
            <h1>{{ article.title }}</h1>
            <p class="article_extra">
                By {{ article.user_name }}.
                {% if article.edits %}Updated {{ article.edits }} time{{ article.edits|pluralize }}, most recently {{ article.last_modified|timesince }} ago.{% endif %}
                {% ifequal user.id article.user_id %}
                <span class="highlight">{{ article.views }}</span> view{{ article.views|pluralize }}.
                <a href="/edit/{{ article.id }}">Edit tutorial</a>
                {% endifequal %}
            </p>
        </div>
        {{ article.html }}
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
