{% extends "base.html" %}
{% block page_title %}{{ article.title }} – Manage{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle" id="{% block section_id %}manage{% endblock %}">
        {% if not article.published %}
        <div class="warning">
            <p>This article has not been published yet! This means it will not show up in any lists, but you can still share the link.</p>
            {% if user.can_publish_article %}
            <p><form action="/4/manage/publish" method="post"><button>Publish article now</button></form></p>
            {% endif %}
        </div>
        {% endif %}
        <h1>{{ article.title }}</h1>
        <p><a href="/{{ article.id }}/{{ article.slug }}">&larr; Back to article</a></p>
        <ul class="tabs large-text">
            <li id="manage_edit_tab"><a href="/{{ article.id }}/manage/edit">Edit</a></li>
            <li id="manage_revisions_tab"><a href="/{{ article.id }}/manage/revisions/">Revisions</a></li>
            <li id="manage_files_tab"><a href="/{{ article.id }}/manage/files/">Files</a></li>
        </ul>
        <div class="tab_content">
            {% block section_content %}
            <p>Please select one of the above sections.</p>
            {% endblock %}
        </div>
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
