{% extends "article_manage.html" %}
{% block page_title %}{{ article.title }} – Edit{% endblock %}
{% block section_id %}manage_edit{% endblock %}
{% block section_title %}Edit article{% endblock %}
{% block section_content %}
        <div id="edit_article">
            {% if not user_can_edit %}
            <p class="warning"><strong>Note:</strong> You may not save any changes this article.</p>
            {% endif %}
            {% if errors %}
            <div class="error">
                <p>Failed to save the article:</p>
                <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form action="{{ request.path }}" enctype="multipart/form-data" method="post">
                <p>Article title</p>
                <p><input name="title" type="text" value="{% if request.POST.title %}{{ request.POST.title }}{% else %}{{ article.title }}{% endif %}" /></p>
                <p>Icon (optional)</p>
                <p><input name="icon" type="file" /></p>
                <p>Article description</p>
                <p><textarea cols="100" name="description" rows="5">{% if request.POST.description %}{{ request.POST.description }}{% else %}{{ article.description }}{% endif %}</textarea></p>
                <p>Article content (<a href="http://daringfireball.net/projects/markdown/syntax">Markdown formatted</a>)</p>
                <p><textarea cols="100" name="content" rows="35">{% if request.POST.content %}{{ request.POST.content }}{% else %}{{ article.content }}{% endif %}</textarea></p>
                <p>Edit message (optional)</p>
                <input name="message" id="edit_message" type="text" value="{{ request.POST.message }}" />
                <p><input{% if not user_can_edit %} disabled="disabled"{% endif %} type="submit" value="Save article" /></p>
            </form>
        </div>
{% endblock %}
