<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }} – SimpleEditions</title>
    <link href="{{ STATIC_PATH }}/style.css" rel="stylesheet" type="text/css">
    {% block page_head %}{% endblock %}
</head>
<body>
    {% if user %}
    <p>Logged in as <strong>{{ user.display_name }}</strong>. <a href="/logout">Log out</a></p>
    {% else %}
    <p><a href="/login">Log in</a> or <a href="/register">register</a>.</p>
    {% endif %}
    <h1>{{ page_title }}</h1>
    {% block page_content %}{% endblock %}
</body>
</html>
