<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>{% block page_title %}Untitled page{% endblock %}{% block page_title_suffix %} – SimpleEditions{% endblock %}</title>
    <link href="{{ "style.css"|static }}" rel="stylesheet" type="text/css" />
    <link href="{{ "images/favicon.ico"|static }}" rel="shortcut icon" />
    <link href='http://fonts.googleapis.com/css?family=Cantarell:regular,bold' rel='stylesheet' type='text/css' />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
    <meta name="og:site_name" content="SimpleEditions" />
    <meta name="keywords" content="{% block keywords %}tutorial, tutorials, how to, do it yourself, simpleedition{% endblock %}" />
    <meta name="description" content="{% block description %}SimpleEditions is a tutorial website aiming to make it easy to learn by focusing on 
    high quality articles. We're an open source project that anyone can enjoy and participate in.{% endblock %}" />
    {% block page_head %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16306135-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
    <div id="main">
        <div id="headercontainer">
            <div id="header">
                <a href="/"><img alt="SimpleEditions" src="{{ "images/logo.png"|static }}" id="logo" /></a>
                {% block slogan %}<img src="{{ "images/slogan.png"|static }}" id="slogan" alt="we make tutorials together" />{% endblock %}
                <div id="account">
                    {% if user %}
                    Logged in as <a href="/user/{{ user.canonical_name }}"><strong>{{ user.display_name }}</strong></a>. <a href="/logout?continue={{ request.path|urlencode }}">Log out</a>
                    {% else %}
                    <a href="/login?continue={{ request.path|urlencode }}">Login</a> | <a href="/sign-up">Sign up</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block intro %}{% endblock %}
        <div id="contentcontainer">
            <div id="content">
                {% block page_content %}{% endblock %}
                <div id="sponsored">
                    Sponsored by <a href="http://www.datanordar.se">Datanördar.se - Hitta programmerare och designers, helt gratis</a>.
                </div>
            </div>
        </div>
        {% block outro %}{% endblock %}
        <div id="push"></div>
    </div>
    {% block footer %}
    <div id="footercontainer">
        <div id="footer">
            <div id="footer_photos">
                <a href="/user/erikbraennstroem"><img src="{{ "images/footer_photo_erik.png"|static }}" alt="Contributor of SimpleEditions" /></a>
                <a href="/user/andreasblixt"><img src="{{ "images/footer_photo_blixt.png"|static }}" alt="Contributor of SimpleEditions" /></a>
            </div>
            <a href="/"><img src="{{ "images/footer_logo.png"|static }}" alt="SimpleEditions logo" id="footer_logo" /></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/sign-up">Sign up</a></li>
                <li><a href="/about#contact">Contact</a></li>
                <li><a href="http://www.twitter.com/SimpleEditions" target="_blank">Twitter</a></li>
            </ul>
            <p class="breaker">Copyleft SimpleEditions. All tutorials available under a Creative Commons license, 
            all source code is open source (GPL). Site v1.2.</p>
        </div>
    </div>
    {% endblock %}
    {% block page_foot %}{% endblock %}
    <!-- Observer -->
    <script type="text/javascript" src="http://www.observerapp.com/record.js"></script>
    <script type="text/javascript">
    try { Observerapp.record("4c9f85f223fed9654400072b"); } catch(e) {};
    </script>
</body>
</html>
