<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>{% block page_title %}Untitled page{% endblock %}{% block page_title_suffix %} – SimpleEditions{% endblock %}</title>
    <link href="{{ "style.css"|static }}" rel="stylesheet" type="text/css" />
    <link href="{{ "images/favicon.ico"|static }}" rel="shortcut icon" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
    <meta name="og:site_name" content="SimpleEditions" />
    <meta name="keywords" content="{% block keywords %}tutorial, tutorials, how to, do it yourself, simpleedition{% endblock %}" />
    <meta name="description" content="{% block description %}SimpleEditions is a tutorial website aiming to make it easy to learn by focusing on 
    high quality articles. We're an open source project that anyone can enjoy and participate in.{% endblock %}" />
    {% block page_head %}{% endblock %}
</head>
<body>
    <div id="headercontainer">
        <div id="header">
            <a href="/"><img alt="SimpleEditions" src="{{ "images/logo.png"|static }}" id="logo" /></a>
            <div id="account">
                {% if user %}
                Logged in as <strong>{{ user.display_name }}</strong>. <a href="/logout?continue={{ request.path|urlencode }}">Log out</a>
                {% else %}
                <a href="/login?continue={{ request.path|urlencode }}">Log in</a> | <a href="/join">Join</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    <div id="contentcontainer">{% block page_content %}{% endblock %}</div>
    <div id="footer">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/about#contact">Contact</a></li>
            <li><a href="/about#licenses">Open source</a></li>
            <li><a href="/about#licenses">Copyleft</a></li>
            <li class="version">v1.1</li>
        </ul>
    </div>
    <!-- Google Analytics -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("{{ ANALYTICS_TRACKER_ID }}");
    pageTracker._trackPageview();
    } catch(err) {}</script>
    {% block page_foot %}{% endblock %}
</body>
</html>
