{% extends "base.html" %}
{% block page_title %}Home{% endblock %}
{% block page_content %}
    <div id="intro_box">
        <img alt="" src="{{ STATIC_PATH }}/images/intro_box.png" />
        <p>Welcome to <strong>SimpleEditions</strong> - a tutorial website aiming<br/>
        to steal your candy and eat your bananas.</p>
    </div>
    <div class="contentbox_top"></div>
    <div class="contentbox_middle" id="recent_tutorials">
        <h1>Recent tutorials</h1>
        {% for article in articles %}
        <div id="tutorial_header">
            <img alt="" src="{{ STATIC_PATH }}/images/badges/badge_spotify.png" />
            <h2><a href="/{{ article.id }}/{{ article.slug }}">{{ article.title }}</a></h2>
            <p>
                <span class="highlight">9.78</span> in rating, <span class="highlight">3 932</span> comments.
            </p>
        </div>
        {{ article.html }}
        <a href="/{{ article.id }}/{{ article.slug }}">Read more...</a>
        {% endfor %}
        {% if user %}
        <p><a href="/new">Write a tutorial</a>!</p>
        {% endif %}
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
