{% extends "base.html" %}
{% block page_title %}Log in{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle" id="login">
        <h1>Log in</h1>
        {% if errors %}
        <div class="error">
            <p>Failed to log in:</p>
            <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <form action="{{ request.path }}{% if request.query_string %}?{{ request.query_string }}{% endif %}" method="post">
            <input type="hidden" name="auth_type" value="local"/>
            <label for="email">E-mail</label>
            <input id="email" name="email" type="text" tabindex="1" />

            <label for="password">Password</label>
            <input id="password" name="password" type="password" tabindex="2" />

            <p><input class="breaker" id="submit" type="submit" value="Log in" tabindex="3" /></p>
            <div class="breaker"></div>
        </form>
        <img src="{{ "images/divider.png"|static }}" class="divider-margin" alt="-- Divider --"/>
        <div id="thirdpartylogin">
            <p>Or login with:</p>
            <form action="{{ request.path }}{% if request.query_string %}?{{ request.query_string }}{% endif %}" method="post">
                <input type="hidden" name="auth_type" value="google"/>
                <input type="submit" id="google-submit" value="Google" />
            </form>
            <form action="{{ request.path }}{% if request.query_string %}?{{ request.query_string }}{% endif %}" method="post">
                <input type="hidden" name="auth_type" value="facebook"/>
                <input type="submit" id="facebook-submit" value="Facebook" />
            </form>
            <div class="breaker"></div>
            <p>This only works if you created your SimpleEditions account via Facebook or Google.</p>
        </div>
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
