{% extends "base.html" %}
{% block page_title %}Join{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle" id="register">
        <h1>Join SimpleEditions</h1>
        <p id="subtext">Good choice, matey.</p>
        {% if errors %}
        <div class="error">
            <p>Failed to register:</p>
            <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div id="registration_form">
            <form action="{{ request.path }}" method="post">
            <input type="hidden" name="auth_type" value="local"/>
                <label for="display_name">Display name</label>
                <input id="display_name" name="display_name" type="text" />

                <label for="auth_email">E-mail</label>
                <input id="auth_email" name="auth_email" type="text" />
                <div class="explanation">Won't be seen by others. Only used for login.</div>

                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
                <div class="explanation">At least 6 characters.</div>

                <input class="breaker" id="submit" type="submit" value="Join" />
                <div class="breaker"></div>
            </form>
        </div>
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
