{% extends "base.html" %}
{% block page_title %}Success!{% endblock %}
{% block page_content %}
    <div class="contentbox_top"></div>
    <div class="contentbox_middle">
        <h1>Successfully registered</h1>
        <p>Welcome to SimpleEditions, <strong>{{ user.display_name }}</strong>! Your account was created successfully.</p>
        <p>The site is still under construction and we'll shortly release tools for allowing you to edit articles. In the meanwhile, 
        to participate in article writing, drop us an e-mail to contribute@simpleeditions.com and we'll get back to you!</p>
    </div>
    <div class="contentbox_bottom"></div>
{% endblock %}
