/* General */

body {
    margin: 0;
    padding: 0;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #252525;
    text-align: center;
    background-color: #e1e1e1;
}

h1, h2, h3, h4 {
	margin: 0 0 0.25em;
	font-weight: normal;
	line-height: 1em;
}

h1 {
    text-shadow: 0px 1px 1px #fff;
    -khtml-text-shadow: 0px 1px 1px #fff;
    -moz-text-shadow: 0px 1px 1px #fff;
}

h2 {
    margin-top: 0;
    font-weight: normal;
    font-size: 1.618em;
    line-height: 1.3em;
    color: #333;
}

p + h2 {
    margin-top: 1.5em;
}

h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1E2630;
}

a {
    text-decoration: none;
}

a:link, a:active {
    color: #0088CC;
}

a:visited {
    color: #406e8d;
}

a:link:hover, a:active:hover, a:visited:hover {
    color: #0c567c;
    border-color: #999;
}

/* Handy classes for various use */

.error {
    color: red;
}

.right {
    float: right;
    margin-left: 10px;
}

.breaker {
    clear: both;
}

/* Header */

#headercontainer {
    background: url('/static/images/header_bg.png') repeat-x;
}

#header {
    width: 860px;
    margin: 0 auto;
    text-align: left;
    height: 108px;
    position: relative;
}

#logo {
    float: left;
    position: relative;
    top: 30px;
    left: 27px;
}

#account {
    float: left;
    position: absolute;
    right: 10px;
    top: 60px;
    color: #ddd;
}

#account a {
    color: #ddd;
}

/* Navigation */

#navigation {
    text-align: left;
    background: url('/static/images/nav_bg.png') no-repeat;
    height: 50px;
    width: 860px;
    margin: 15px auto 0;
}

#navigation ul {
    margin: 0;
    padding: 15px 0 0 17px;
    list-style-type: none;
}

#navigation ul li {
    margin: 0 10px;
    display: inline;
}

#navigation ul li a {
    color: #363636;
    text-decoration: none;
    text-shadow: 0px 1px 1px #fff;
    -khtml-text-shadow: 0px 1px 1px #fff;
    -moz-text-shadow: 0px 1px 1px #fff;
}

/* Content */

#contentcontainer {
    text-align: left;
    margin: 0 auto;
    width: 860px;
}

#intro_box {
    margin-top: 10px;
    margin-bottom: -5px;
    color: white;
    position: relative;
}

#intro_box p {
    position: absolute;
    top: 60px;
    left: 27px;
    font-size: 13px;
}

.contentbox_top {
    height: 15px;
    margin: 10px 6px 0 0;
    background: url('/static/images/contentbox_top.png') no-repeat;
}

.contentbox_middle {
    background: url('/static/images/contentbox_middle.png') repeat-y;
    padding: 12px 25px 1px;
    margin: 0 6px 0 0;
}

.contentbox_bottom {
    height: 14px;
    margin: 0 11px 10px 0;
    background: url('/static/images/contentbox_bottom.png') no-repeat;
}

span.highlight {
    color: #cf9d20;
}

/* Tutorials */

#tutorial_header {
    height: 50px;
    margin-bottom: 5px;
}

#tutorial_header img {
    float: left;
    margin-right: 14px;
}

#tutorial_header h1, #tutorial_header h2 {
    margin-bottom: 0;
    padding-top: 6px;
}
#tutorial_header h2 {
    padding-top: 4px;
}

#tutorial_header p {
    margin-top: 2px;
}

/* Home */
#recent_tutorials h1 {
    margin-bottom: 0.5em;
}
