        <li class="article_box">
            <a href="/{{ article.id }}/{{ article.slug }}">
                {% if article.icon %}
                <img alt="" src="/content/{{ article.icon }}.png" />
                {% else %}
                <img alt="" src="{{ "images/badges/badge_default.png"|static }}" />
                {% endif %}
                <span class="title">{{ article.title }}</span><br/>
                <span class="snippet">{{ article.description|linebreaksbr }}</span>
            </a>
        </li>

