    <div class="contentbox_top"></div>
    <div class="contentbox_middle" id="under_construction">
        <img src="{{ "images/draft.png"|static }}" />
        <h2>Under construction</h2>
        {% if user.can_publish_article %}
        <p>This article is only a draft and is not visible to the general public yet. If you believe it meets the SimpleEdition standards, publish it to make it appear on the front page.</p>
        <form action="/{{ article.id }}/manage/publish" method="post"><button>Publish article</button></form>
        <div class="breaker"></div>
        {% else %}
        <p>This article is a draft and may need additional work before it meets the SimpleEdition standards. <br/>
        If you know something about the topic, consider contributing by posting a comment.</p>
            {% if user %}
        <p class="small">This message will disappear and the article will be featured on the front page
        as soon as a moderator finds it ready for publishing.</p>
            {% endif %}
        {% endif %}
    </div>
    <div class="contentbox_bottom"></div>

