/* General */

body {
    margin: 0;
    padding: 0;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #252525;
    text-align: center;
    background-color: #e1e1e1;
}

h1, h2, h3, h4 {
    margin: 0 0 0.25em;
    padding-top: 0.9em;
    font-weight: normal;
    line-height: 1;
}

h1 {
    padding-top: 0;
    text-shadow: 0px 1px 1px #fff;
    -khtml-text-shadow: 0px 1px 1px #fff;
    -moz-text-shadow: 0px 1px 1px #fff;
}

h2 {
    font-weight: normal;
    font-size: 1.618em;
    line-height: 1.3;
    color: #333;
}


h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1E2630;
}

input, textarea, select {
    padding: 4px;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica, Arial, sans-serif;
    border: 1px solid #cecece;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #252525;
    background-color: white;
}

button, input[type="reset"], input[type="button"], input[type="submit"] {
    padding: 4px 17px;
    box-shadow: 1px 1px 0px #777;
    -moz-box-shadow: 1px 1px 0px #777;
    -khtml-box-shadow: 1px 1px 0px #777;
    border: 1px solid #c0c0c0;
    cursor: pointer;
}

button:active, input[type="reset"]:active, input[type="button"]:active, input[type="submit"]:active {
    border: 1px solid #ddd;
    color: black;
    position: relative;
    top: 1px;
}

a {
    text-decoration: none;
}

a:link, a:active {
    color: #0088CC;
}

a:visited {
    color: #406e8d;
}

a:link:hover, a:active:hover, a:visited:hover {
    color: #0c567c;
    border-color: #999;
}

table .odd td {
    background-color: #E9E9E9;
}

table .even td {
    background-color: white;
}

table {
    border-spacing: 0;
}

table td, table th {
    padding: 4px;
}

img {
    border: 0;
}

li {
    margin-top: 1px;
}

pre {
    margin-left: 20px;
}

pre code {
    white-space: normal;
}

/* Tabs */

ul.tabs {
    border-bottom: 1px solid #DDD;
    height: 26px;
    line-height: 1;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

ul.large-text li {
    font-size: 1.2em;
}

ul.tabs li {
    float: left;
    margin: 0 5px;
}

ul.tabs li a {
    display: block;
    background: #EBEBEB;
    border: 1px solid #DDD;
    border-bottom: 0;
    border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    padding: 6px 10px 5px;
}

ul.tabs li a:hover {
    background: transparent;
    border: 1px solid #DDD;
    border-bottom: 0;
}

ul.tabs .selected a, 
#manage_edit #manage_edit_tab a, 
#manage_revisions #manage_revisions_tab a, 
#manage_files #manage_files_tab a {
    background: transparent;
    color: #333;
    border-bottom: 1px solid #F2F2F2;
}

.tab_content {
    margin-left: 6px;
}

/* Handy classes for various use */

.error {
    color: red;
}

.right {
    float: right;
    margin-left: 10px;
}

.breaker {
    clear: both;
}

.divider-margin {
    margin: 8px 0;
}

.nopadding {
    padding: 0;
}

div.warning {
    background: #ffe;
    border: #fc0 solid 1px;
    border-radius: 5px;
    padding: 5px;
}

div.warning p {
    margin: 0;
}

/* Header */

#headercontainer {
    background: url('images/header_bg.png') repeat-x;
    background-color: black;
}

#header {
    width: 860px;
    margin: 0 auto;
    text-align: left;
    height: 103px;
    position: relative;
}

#logo {
    float: left;
    position: relative;
    top: 27px;
    left: 25px;
}

#account {
    float: left;
    position: absolute;
    right: 20px;
    top: 49px;
    color: #ddd;
}

#account a {
    color: #ddd;
}

#account a:hover {
    border-bottom: 1px white dotted;
}

/* Navigation */

#navigation {
    text-align: left;
    background: url('images/nav_bg.png') no-repeat;
    height: 50px;
    width: 860px;
    margin: 13px auto 0;
}

#navigation ul {
    margin: 0;
    padding: 15px 0 0 17px;
    list-style-type: none;
}

#navigation ul li {
    margin: 0 10px;
    display: inline;
}

#navigation ul li a, #footer ul li a {
    color: #363636;
    text-decoration: none;
    text-shadow: 0px 1px 1px #fff;
    -khtml-text-shadow: 0px 1px 1px #fff;
    -moz-text-shadow: 0px 1px 1px #fff;
}

#navigation ul li a:hover, #footer ul li a:hover {
    color: #000;
    border-bottom: 1px black dotted;
}

#footer {
    margin: 0 auto 20px;
    width: 860px;
    background: url('images/footer.png') no-repeat;
    text-align: left;
    height: 53px;
}

#footer ul {
    list-style-type: none;
    padding: 17px 0 0 250px;
}

#footer ul li {
    margin: 0 5px;
    display: inline;
    font-size: 11px;
}

#footer ul li.version {
    color: #777;
    float: right;
    padding-right: 25px;
}

#footer ul li a {
    color: #565656;
}

/* Content */

#contentcontainer {
    text-align: left;
    margin: 0 auto;
    width: 860px;
    line-height: 1.75;
    word-spacing: 1.3px;
}

#contentcontainer textarea {
    width: 800px;
}

#intro_box {
    margin-top: 5px;
    color: white;
    position: relative;
    height: 147px;
}

#intro_box p {
    position: absolute;
    top: 60px;
    left: 27px;
    font-size: 13px;
}

.contentbox_top {
    height: 15px;
    margin: 4px 6px 0 0;
    background: url('images/contentbox_top.png') no-repeat;
}

.contentbox_middle {
    background: url('images/contentbox_middle.png') repeat-y;
    padding: 12px 25px 1px 25px;
    margin: 0 6px 0 0;
}

.contentbox_bottom {
    height: 14px;
    margin: 0 6px 0 0;
    background: url('images/contentbox_bottom.png') no-repeat;
}

span.highlight {
    color: #cf9d20;
}

/* Tutorials */

.tutorial_header {
    height: 52px;
    margin-bottom: 20px;
}

.tutorial_header img {
    float: left;
    margin-right: 14px;
}

.tutorial_header h1, .tutorial_header h2 {
    margin-bottom: 0;
    padding-top: 4px;
    margin-right: 14px;
}

.tutorial_header p {
    margin: 1px 0 0;
}

/* Article comments */

#comments, #add_comment textarea {
    width: 600px;
}

#comments p {
    margin: 1.2em 0;
}

#comments p span {
    display: block;
    font-weight: bold;
    padding-bottom: 3px;
}

/* When the titles are in a list, we use h2s instead of h1s */
.tutorial_header h2 {
    padding-top: 5px;
}

.tutorial_header h2 + p {
    margin-top: -3px;
}


.tutorial_header .article_extra {
    color: #777;
    float: left;
    padding-right: 10px;
}

.tutorial_content {
    width: 600px;
}

.tutorial_share {
    margin: 0 0 3px 0;
}

.tutorial_share div, .tutorial_share span {
    float: left;
    margin: 2px 5px;
}

#facebook_share {
    position: relative;
    top: -2px;
}

#tweetmeme_share {
    position: relative;
    top: 2px;
    width: 60px;
}

/* Tutorial content tags */
.pros, .cons {
    list-style-type: none;
    padding-left: 22px;
}

span.plus {
    color: green;
}

span.minus {
    color: red;
}

.default-border {
    border: 1px solid #ddd;
}

.right-align {
    float: right;
    margin: 6px 0 10px 10px;
}

/* Home */
#recent_tutorials h2 a {
    color: #252525;
}

.tutorial_box {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tutorial_box li {
    float: left;
    width: 400px;
    margin: 0 0 10px;
    padding: 0;
}

.tutorial_box li:hover {
    background: url('images/tutorial_box_bg.png') no-repeat;
}

.tutorial_box a {
    display: block;
    padding: 11px 15px 15px;
}

.tutorial_box .title {
    font-size: 1.618em;
    line-height: 1.4em;
}

.tutorial_box .snippet {
    margin-left: 61px;
    display: block;
    color: #333;
}

.tutorial_box img {
    float: left;
    margin: 4px 10px 0 0;
}

/* Edit article */

#edit_message {
    width: 200px;
}

/* Register and login */

#third_party input {
    width: 105px;
    float: left;
    margin-left: 10px;
    background-position: 11px 5px;
    padding-left: 32px;
}

#google-submit {
    background: url('images/logos/google_16x16.png') no-repeat;
    width: 98px !important;
}

#facebook-submit {
    background: url('images/logos/facebook_16x16.png') no-repeat;
    width: 111px !important;
}

#third_party p {
    font-size: 10px;
    color: #555;
}

#login form, #register form {
    margin: 10px 0;
}

#login label, #register label {
    display: block;
    margin: 5px 0 0 0;
    font-size: 13px;
}

#login input, #register input {
    width: 220px;
}

#login input#submit, #register input#submit {
    width: 228px;
    margin-top: 10px;
}

#register div.explanation {
    font-size: 9px;
    margin-left: 5px;
    color: #555;
}

#register #third_party {
    float: right;
    margin-right: 130px;
    width: 300px;
}

/* Prettify */
.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun{color:#660}.pln{color:#000}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec{color:#606}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}
